<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hiveswarm.hiveswarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/hiveswarmapplogo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GeneralObservationsActivity" />
        <activity android:name=".EnvironmentalConditions" />
        <activity android:name=".PestsDiseases" />
        <activity android:name=".EggQueenObservations" />
        <activity android:name=".Feeding" />
        <activity android:name=".SetAlarm" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HivesWithHiveID" />
        <activity android:name=".FeedingShownActivity" />
        <activity android:name=".add_raspberry_pi" />
        <activity android:name=".EnvironmentalInformation" />
        <activity android:name=".ToDoList" />
        <activity android:name=".SignUp" />
        <activity android:name=".GShownActivity" />

        <!--Starting Activity-->
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--All the Drawer Activities-->
        <activity
            android:name=".HiveInformation"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".EShownActivity"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".FShownActivity"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".SShownActivity"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".PShownActivity"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".DShownActivity"
            android:theme="@style/DrawerTheme" />
        <activity
            android:name=".EQShownActivity"
            android:theme="@style/DrawerTheme" />

    </application>

</manifest>